/* reset des marges extérieures et intérieures */
*{
    margin: 0;
    padding: 0;
}

/* style général */
:root{
    --font-family: Roboto, sans-serif;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: #808080;
}

body{
    margin: 5%;
    font-family: var(--font-family);
    color: var(--primary-color);
}

/* style général des liens */
li{
    list-style-type: none;
}

a{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: var(--highlight-color);
}

/* mise en place de la grille */
header, main, footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* éléments du header */
/* logo */
h1{
    grid-column: 1;
    width: auto;
    font-size: 5em;
    font-weight: bold;
}

#enter{
    grid-column: 2 / span 11;
    align-self: flex-start;
    justify-self: end;
    font-size: 1.5em;
}

header h1+a{
    grid-column: 2;
    align-self: center;
    margin-left: 10%;
    font-size: 1.5em;
}

/* navbar */
header nav{
    grid-column: 1 / span 12;
    margin: 2% 0 2% 0;
    width: 100%;
}

header ul{
    display: flex;
    gap: 2%;
}

header li{
    font-size: 1.3em;
    font-weight: bold;
}

/* éléments du main */
#about{
    grid-column: 1 / span 12;
    margin: 2% 0 2% 0;
    width: 80%;
    font-size: 2em;
}

h2{
    grid-column: 1 / span 12;
    line-height: 1em;
    margin-bottom: 2%;
}

figure{
    grid-column: span 3;
    margin: 5% 5% 5% 0;
    width: 80%;
}

figure img{
    margin-bottom: 2%;
    width: 100%;
}

/* éléments du footer */
footer{
    bottom: 0;
    margin-top: 2%;
    padding-top: 2%;
    width: 100%;
    border-top: solid 2px var(--primary-color)
}

footer section:first-child{
    grid-column: 1 / span 12;
    margin-bottom: 2%;
    padding-top: 2%;
    padding: 5%;
    background-color: var(--highlight-color);
}

footer section:nth-child(n+2){
    grid-column: span 2;
}

footer img{
    margin-left: 5%;
    margin-right: 5%;
    width: 5%;
}

footer svg{
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
    fill: var(--primary-color);
}
