/* reset des marges extérieures et intérieures */
*{
    margin: 0;
    padding: 0;
}

/* style général */
:root{
    /* variables globales à modifier selon la charte graphique */
    --font-family: Roboto, sans-serif;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: #be41be;
    --bg-color-blue: #009ece;
}

body{
    margin: 5%;
    font-family: var(--font-family);
    color: var(--primary-color);
}

/* style général des titres */
h2{
    margin: 2% 0 1% 0;
    font-size: 3vw;
}

h3{
    margin-bottom: 1%;
    font-size: 2vw;
    line-height: 1.1em;
}

h4{
    font-size: 1.3vw;
}

/* style général du texte */
p{
    font-size: 1.3vw;
}

p:not(footer p){
    margin-bottom: 2%;
}

/* style général des liens */
li{
    list-style-type: none;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
}

a:hover:not(h1 a, section:last-child a, .current){
    border-bottom: 2px solid var(--primary-color);
}

.current{
    color: var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
}

/* style général des images */
img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

/* mise en place de la grille */
header, main, footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* column-gap: 5%; */
}

/* éléments du header */
/* logo MAJ */
header h1{
    grid-column: 1;
    font-size: 7vw;
    font-weight: bold;
}

/* enter */
#enter{
    grid-column: 2 / span 11;
    align-self: flex-start;
    justify-self: end;
    font-size: 2vw;
}

/* qui ? */
header h1+a{
    grid-column: 2;
    align-self: center;
    justify-self: center;
    font-size: 2vw;
}

/* navbar */
header nav{
    grid-column: 1 / span 12;
    margin: 2% 0 2% 0;
    width: 100%;
}

header ul{
    display: flex;
    gap: 2%;
}

header li{
    font-size: 1.8vw;
    font-weight: bold;
    text-transform: lowercase;
}

/* éléments du main */
main > *{
    grid-column: 1 / span 12;
}

/* texte d'introduction */
#about{
    /* grid-column: 1 / span 12; */
    margin: 2% 0 2% 0;
    width: 100%;
    font-size: 3vw;
}

/* ticker et slider */
/* ticker */
#ticker{
    overflow: hidden;;
}

#ticker .splide__arrow,
#ticker .splide__pagination{
    display: none;
}

#ticker .splide__slide{
    margin: auto;
    padding: 2%;
    width: auto;
}

/* billets actualités / services */
.news{
    grid-column: span 4;
    /* margin: 0 5% 5% 0; */
    width: 90%;
    border: solid 2px black;
}

.news h3{
    margin: 10% 10% 0 10%;
}

.news p{
    margin: 2% 10% 10% 10%;
}

figure{
    grid-column: span 3;
    /* margin: 0 5% 5% 0; */
    width: 80%;
}

figure img{
    margin-bottom: 2%;
}

figure h3{
    margin-top: 5%;
}

figure p{
    margin-top: 3%;
    margin-bottom: 2%;
}

/* articles actualités / services */
article img{
    margin-bottom: 2%;
}

/* contact */
/* formulaire */
form div{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

form label{
    margin-bottom: 1%;
}

form label span{
    color: var(--highlight-color);
}

form input, form select{
    padding: 0.5%;
}

form textarea{
    padding: 0.5%;
}

input[type=submit]{
    align-self: flex-start;
}

/* google map */
iframe{
    width: 100%;
    height: 300px;
}

/* équipe */


/* crédits */
h4{
    margin-top: 2%;
}

/* éléments du footer */
footer{
    bottom: 0;
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
    border-top: solid 2px var(--primary-color)
}

/* partenaires */
footer section:first-child{
    grid-column: 1 / span 12;
    margin-bottom: 2%;
    padding: 5% 0 5% 0;
    width: 100%;
    background-color: lightgray;
}

footer img{
    margin-left: 5%;
    margin-right: 5%;
    width: 5%;
}

/* où nous trouver / mentions légales / réseau sociaux */
footer section:nth-child(n+2){
    grid-column: span 2;
}

/* logo réseaux sociaux */
footer a{
    font-size: 1.3vw;
}

footer svg{
    margin-right: 10%;
    width: 10%;
    fill: var(--primary-color);
    transition: fill 0.25s;
}

footer svg:hover{
    fill: var(--highlight-color);
}
