@media only screen and (max-width: 450px) {

    /* conteneurs */
    header,
    main {
        /* mise en place de la grille */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        /* mise en place de la grille */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* titres */
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    /* textes */
    p {
        font-size: 3.5vw;
    }

    /* liens */
    a,
    .load-more {
        font-size: 3.5vw;
    }

    /* //////////////////// éléments du header //////////////////// */

    /* logo MAJ */
    header #logo img {
        width: 35vw;
    }

    header #description {
        margin-left: 38%;
    }

    /* entrer / qui ? / nav */
    #entrer,
    #qui,
    header nav {
        grid-column: 2;
        margin-left: 10%;
        font-size: 3.5vw;
    }

    #entrer svg {
        width: 2vw;
    }

    /* navbar */
    header nav ul {
        gap: 4%;
    }

    header nav ul li a {
        font-size: 4vw;
    }

    /* //////////////////// éléments du main //////////////////// */

    main {
        margin: 12% 0 10% 0;
    }

    /* tous les éléments du main */
    main>* {
        grid-column: 1 / span 3;
    }

    /* accueil > à propos */
    #a-propos p:first-child {
        font-size: 7vw;
    }

    #a-propos section h1 {
        font-size: 5vw;
    }

    #a-propos section p {
        font-size: 4.5vw;
    }

    /* actualités > ticker + slider */
    #ticker {
        margin-bottom: 8%;
    }

    #ticker .splide__slide {
        max-width: 100vw;
        max-height: 12vw;
    }

    #ticker p {
        font-size: 3vw;
    }

    #slider {
        margin-bottom: 15%;
    }

    #slider .splide__pagination {
        top: 100%;
    }

    #slider .splide__pagination__page {
        width: 7px;
        height: 7px;
    }

    /* actualités > billets actualités */
    .actualite {
        grid-column: span 3;
        margin: 0 2% 2% 0;
        padding: 5%;
        height: auto;
    }

    .actualite h1 {
        font-size: 5vw;
    }

    /* services > boutons */
    .accordion-button h1 {
        font-size: 4.5vw;
    }

    /* services > accordion-panel */
    .accordion-panel .partenaires img {
        max-height: 9vw;
    }

    .accordion-panel h2 {
        font-size: 3.5vw;
    }

    .accordion-panel p:last-child {
        margin-bottom: 3%;
    }

    .accordion-panel>#permanences-partenaires {
        grid-template-columns: repeat(2, 1fr);
    }

    #permanences-partenaires img {
        margin-bottom: 5%;
        width: auto;
        max-height: 40px;
    }

    #permanences-partenaires h2 {
        font-size: 3.8vw;
    }

    /* actualités / services / adhésion / mentions légales > articles */
    .retour {
        font-size: 4vw;
        margin-bottom: 5%;
    }

    article>h1,
    h2 {
        margin-bottom: 3%;
    }

    article h2 {
        font-size: 5vw;
    }

    article h3 {
        font-size: 4vw;
    }

    article p {
        margin-bottom: 5%;
    }

    article ul {
        padding-left: 5%;
        font-size: 3.5vw;
    }

    /* équipe */
    #equipe .membre {
        flex-flow: column wrap;
        align-items: flex-start;
        margin-bottom: 5%;
    }

    #equipe h1 {
        font-size: 6vw;
    }

    #equipe .membre .infos * {
        margin: 0;
        font-size: 3vw;
    }

    /* contact > formulaire */
    form label {
        font-size: 3.5vw;
    }

    form input:not(input[type=submit]),
    form select,
    form textarea {
        width: 90vw;
    }

    /* //////////////////// éléments du footer //////////////////// */

    /* partenaires */
    footer div:first-child {
        grid-column: 1 / span 2;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 10% 0 5% 0;
    }

    footer img {
        margin: 0 5% 5% 0;
        max-height: 12vw;
    }

    /* maj */
    footer div:nth-child(2) {
        grid-column: span 2;
    }

    /* adhésion */
    footer>div:nth-child(3) {
        grid-column: 1 / span 1;
    }

    /* infos / réseaux sociaux */
    footer>div:nth-child(4) {
        grid-column: 2 / span 1;
    }

    footer div:nth-child(3) p,
    footer div:nth-child(4) p {
        margin-bottom: 2%;
    }

    /* logo réseaux sociaux */
    footer #socials {
        margin: 2% 0 0 0;
    }
    
    footer svg {
        margin-right: 5%;
        width: 8%;
    }

    /* nous contacter / nous trouver / mentions légales */
    footer div:nth-child(5) {
        grid-column: 1 / span 1;
    }

    /* kirby / les yeux vairons */
    footer div:last-child {
        grid-column: 2 / span 1;
        align-self: flex-end;
    }
}