@media only screen and (max-width: 450px){
    header, main, footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    h1{
        font-size: 6vw;
    }

    h2{
        font-size: 5vw;
    }

    h3{
        font-size: 3.5vw;
    }

    p{
        font-size: 3vw;
    }
    
    header #logo img{
        width: 35vw;
    }

    #entrez, #qui{
        grid-column: 2;
        justify-self: flex-start;
        margin-left: 5%;
    }

    #entrez, #qui, header a{
        font-size: 5vw;
    }

    main > *{
        grid-column: 1 / span 3;
    }

    #apropos h2{
        font-size: 6vw;
    }

    #apropos p:nth-child(1){
        font-size: 6vw;
    }

    #apropos p{
        font-size: 5vw;
}

    .news{
        grid-column: span 3;
        margin: 0 2% 2% 0;
        padding: 5%;
        height: auto;
    }

    .news a{
        font-size: 2.8vw;
    }

    .news h3{
        margin-bottom: 1%;
        font-size: 3.5vw;
    }

    .accordion h2{
        font-size: 4.5vw;
    }

    .accordion sup{
        font-size: 1.8vw;
    }

    .panel h3{
        font-size: 3vw;
    }

    form input:not(input[type=submit]), form select, form textarea{
        width: 95%;
    }

    footer section{
        margin-top: 2%;
        width: 100%;
    }

    footer section:first-child{
        grid-column: span 3;
        flex-flow: row wrap;
    }

    footer img{
        margin: 2%;
        width: 12%;
        max-height: 30px;
    }

    footer section:nth-child(n+2){
        grid-column: span 1;
    }

    footer a{
        font-size: 3vw;
    }

    footer svg{
        width: 10%;
    }
}