/* @keyframes ticker{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.ticker{
    grid-column: 1 / span 12;
    margin: 2% 0 2% 0;
    overflow: hidden;
}

.ticker-list{
    display: flex;
    animation: ticker 25s infinite linear;
}

.ticker-list:hover{
    animation-play-state: paused;
}

.ticker-item{
    margin-right: 30px;
    width: 30%;
} */